.ReactModalPortal>div {
  background-color: rgba(40, 41, 40, 0.6) !important;
  z-index: 1;
  animation: fade-in 0.3s ease-out;
}

.labelDetail {
  border-radius: 8px;
  background-color: #ffffff;
  padding: 36px 37px 46px 50px;
  font-family: "Lato";
  max-height: 663px;

  >p {
    font-size: 14px;
    line-height: 1.57;
    color: #434b56;
    margin-bottom: 35px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    >p {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.33;
      color: #434b56;
      margin-bottom: 0px;
    }

    >svg {
      cursor: pointer;
      user-select: none;

      &:active {
        opacity: 0.7;
      }
    }
  }

  &__button {
    width: 225px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0 6px 20px 0 rgba(13, 51, 32, 0.1);
    background-color: #5c9e68;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.17;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
    margin-top: 0px;

    &:active {
      opacity: 0.8;
    }
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 25px;
    margin-top: 42px;

    &__slider {
      padding: 0px 50px;
      margin-right: 40px;
      width: 324px;

      >div {
        border-bottom-width: 0px !important;
      }

      >div>div>div>div {
        // width: 278px !important;

        >div {
          display: flex;
          justify-content: center;
        }
      }
    }

    >img {
      width: 294px;
      height: 227px;
      object-fit: cover;
      margin-right: 78px;
    }

    >div {
      flex-grow: 1;

      >div {
        display: flex;
        border-bottom: solid 1px #e6e6e6;
        margin-bottom: 22px;

        p:first-child {
          width: 140px;
          text-align: left;
          font-size: 16px;
          font-weight: bold;
          color: #434b56;
          margin-bottom: 17px;
        }

        p:nth-child(2) {
          text-align: left;
          font-size: 14px;
          color: #434b56;
          line-height: 1.57;
          margin-bottom: 17px;
        }
      }
    }
  }
}

.labelImageSlider {
  width: fit-content !important;
  cursor: pointer;

  >img {
    width: 260px;
    height: 201px;
    object-fit: cover;
    border: solid 2px #cccccc;
  }

  >p {
    font-size: 14px;
    line-height: 1.57;
    color: #434b56;
    margin-top: 16px;
    margin-bottom: 0px;
    text-align: center !important;
  }

  >div {
    display: flex;
    align-items: center;
    margin-top: 11px;

    >p:first-child {
      width: 114px;
      font-size: 16px;
      font-weight: bold;
      color: #434b56;
      margin-bottom: 0px;
      text-align: left;
    }

    >p:nth-child(2) {
      font-size: 14px;
      line-height: 1.57;
      color: #434b56;
      margin-bottom: 0px;
    }
  }
}