.breweryCreate {
  font-family: "Lato";

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 77px;

    > span {
      border-radius: 8px;
      box-shadow: 0 6px 20px 0 rgba(13, 51, 32, 0.1);
      width: 234px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      user-select: none;
      margin-left: 24px;
      font-weight: bold;
      line-height: 1.17;
      border: solid 2px #5c9e68;

      &:active {
        opacity: 0.8;
      }
    }

    > span:first-child {
      color: #5c9e68;
      font-size: 16px;
      letter-spacing: 0.32px;
    }

    > span:nth-child(2) {
      color: #ffffff;
      font-size: 18px;
      background-color: #5c9e68;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > p {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.33;
      color: #434b56;
    }
  }

  &__tabs {
    margin-top: 42px;
    margin-left: 4px;

    > div > div {
      > span {
        height: 4px;
        background-color: #5c9e68;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      > div > button {
        span:nth-child(2) {
          display: none;
        }
      }
    }
  }

  &__main {
    border-radius: 8px;
    background-color: #ffffff;
    padding: 50px 28px 70px 28px;
    box-shadow: 0 6px 20px 0 rgba(13, 51, 32, 0.1);

    &__title {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      &__switch {
        display: flex;
        align-items: center;
        border: solid 1px #5c9e68;
        border-radius: 4px;

        > p {
          margin-bottom: 0px;
          font-weight: bold;
          font-size: 14px;
          line-height: 1.29;
          letter-spacing: 0.4px;
          width: 80px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #5c9e68;
          cursor: pointer;
          user-select: none;
        }

        &__select {
          color: #ffffff !important;
          background-color: #5c9e68 !important;
        }
      }
    }

    &__header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;

      > p {
        font-size: 20px;
        font-weight: bold;
        color: #434b56;
        margin-bottom: 25px;
      }

      &__button {
        border-radius: 8px;
        box-shadow: 0 6px 20px 0 rgba(13, 51, 32, 0.1);
        width: 140px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
        margin-left: 24px;
        font-weight: bold;
        line-height: 1.17;
        border: solid 2px #5c9e68;
        color: #5c9e68;
        font-size: 16px;

        &:active {
          opacity: 0.8;
        }
      }
    }

    &__body {
      display: flex;

      &__infos {
        // width: 55%;
        position: relative;
        flex-grow: 1;

        &__text {
          font-size: 20px;
          font-weight: bold;
          color: #434b56;
          margin: 48px 0 27px 0;
          text-align: left;
        }

        &__two {
          display: flex;
          align-items: center;
          justify-content: space-between;

          > div:first-child {
            width: 48%;
          }

          > div:nth-child(2) {
            width: 48%;
          }
        }

        &__map {
          height: 315px;
          margin-bottom: 30px;
        }

        &__short {
          width: 50%;
        }
      }

      &__images {
        // flex-grow: 1;
        display: flex;
        flex-direction: column;
        // align-items: flex-end;
        align-items: center;
        width: 337px;
        margin-left: 93px;

        > img {
          width: 337px;
          height: 268px;
          object-fit: cover;
          margin-bottom: 32px;
          user-select: none;
        }

        > div {
          display: flex;
          align-items: center;
          position: relative;

          > img {
            width: 337px;
            height: 268px;
            object-fit: cover;
            user-select: none;
          }

          > div {
            border: solid 0.7px #cccccc;
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            opacity: 0.9;
            position: absolute;
            font-size: 32px;
            font-weight: bold;
            color: #5c9e68;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            user-select: none;

            &:active {
              opacity: 0.8;
            }
          }
        }
      }
    }

    &__checks {
      > div {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        > div {
          cursor: pointer;
          user-select: none;

          &:active {
            opacity: 0.8;
          }
        }
      }
    }
  }

  &__reviews {
    border-radius: 8px;
    background-color: #ffffff;
    padding: 40px 28px 80px 28px;
    box-shadow: 0 6px 20px 0 rgba(13, 51, 32, 0.1);

    > div {
      border-bottom: solid 1px #e6e6e6;
      padding: 20px 0 16px 0;
    }

    &__bottom {
      width: 100%;
      height: 2px;
      padding: unset !important;
      border-bottom: unset !important;
      background-color: #ffffff;
      margin-top: -1px;
    }

    &__reviewer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      > img {
        width: 32px;
        height: 32px;
        margin-right: 13px;
        border-radius: 50%;
        margin-bottom: 10px;
      }

      > div:nth-child(2) {
        > p {
          margin-bottom: 8px;
          font-size: 12px;
          color: #434b56;
          text-align: left;

          > span {
            color: #767676;
            margin-left: 5px;
          }
        }

        > span {
          color: #767676;
        }
      }

      > div:nth-child(3) {
        position: absolute;
        bottom: 0;
        right: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: #767676;
        cursor: pointer;
        user-select: none;

        &:active {
          opacity: 0.8;
        }
      }

      > div:nth-child(4) {
        position: absolute;
        bottom: 0;
        right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: #434b56;
        cursor: pointer;
        user-select: none;

        &:active {
          opacity: 0.8;
        }
      }
    }

    &__text {
      font-size: 14px;
      line-height: 1.57;
      color: #434b56;
      width: 100%;
      padding: 10px 30px 10px 10px;
      background-color: #f7f8fa;
      border-radius: 8px;
      text-align: left;
      margin-top: 13px;
    }
  }

  &__products {
    border-radius: 8px;
    background-color: #ffffff;
    padding: 25px 15px 30px 15px;
    box-shadow: 0 6px 20px 0 rgba(13, 51, 32, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &__images {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-right: 25px;
      // overflow-y: scroll;
      // max-height: 400px;

      > div {
        padding: 20px 17px;
        width: 33%;
        cursor: pointer;

        > img {
          width: 100%;
          max-width: 290px;
          max-height: 200px;
          margin-bottom: 16px;
          object-fit: cover;
        }

        > p {
          font-size: 14px;
          line-height: 1.557;
          color: #434b56;
          margin-bottom: 0px;
        }
      }
    }
  }
}
