.products {
  font-family: "Lato";

  &__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__card {
      width: 32%;
      // max-width: 318px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: 0 6px 20px 0 rgba(13, 51, 32, 0.1);
      cursor: pointer;
      user-select: none;

      &__icon {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(92, 158, 104, 0.16);
        margin-right: 10px;
      }

      &__info {
        p:first-child {
          font-size: 24px;
          font-weight: bold;
          line-height: 1.33;
          color: #434b56;
          margin-bottom: 4px;
          text-align: left;
        }

        p:nth-child(2) {
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0.32px;
          color: #5c9e68;
          margin-bottom: 0px;
        }
      }
    }
  }

  &__search {
    margin: 50px 0 33px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >p {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.33;
      color: #434b56;
    }

    &__filter {
      display: flex;
      align-items: center;

      &__button {
        border: solid 2px #5c9e68;
        border-radius: 8px;
        background-color: #ffffff;
        box-shadow: 0 6px 20px 0 rgba(13, 51, 32, 0.1);
        width: 140px;
        height: 36px;
        padding: 3px 0;
        font-size: 16px;
        letter-spacing: 0.32px;
        color: #5c9e68;
        font-weight: bold;
        cursor: pointer;
        user-select: none;

        &:active {
          opacity: 0.8;
        }
      }
    }
  }

  &__table {
    border-radius: 8px;
    background-color: #ffffff;
    padding: 20px 32px 7px 28px;
    box-shadow: 0 6px 20px 0 rgba(13, 51, 32, 0.1);

    &__header {
      background-color: rgba(92, 158, 104, 0.2);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 15px 18px 15px;

      >p {
        margin-bottom: 0px;
        font-size: 16px;
        font-weight: bold;
        color: #5c9e68;
      }

      p:first-child {
        width: 13%;
        text-align: left;
      }

      p:nth-child(2) {
        width: 13%;
        text-align: left;
        color: #434b56;
      }

      p:nth-child(3) {
        width: 13%;
        text-align: left;
      }

      p:nth-child(4) {
        width: 10%;
      }

      p:nth-child(5) {
        width: 12%;
      }

      p:nth-child(6) {
        width: 11%;
      }

      p:nth-child(7) {
        width: 12%;
      }

      p:nth-child(8) {
        width: 12%;
      }

      >div {
        width: 5%;
      }
    }

    // &__body {
    //   max-height: 380px;
    //   overflow: hidden;
    // }

    &__item {
      height: 77px;
      border-bottom: 0.5px solid #e6e6e6;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 15px 18px 15px;

      >svg {
        cursor: pointer;

        &:active {
          opacity: 0.8;
        }
      }

      >p {
        margin-bottom: 0px;
        font-size: 14px;
        color: #434b56;
      }

      p:first-child {
        width: 12%;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-right: 1%;
        line-height: 1.57;
        color: #5c9e68;
        font-weight: bold;
        cursor: pointer;
        user-select: none;

        &:active {
          opacity: 0.8;
        }
      }

      p:nth-child(2) {
        width: 13%;
        text-align: left;
        color: #434b56;
      }

      p:nth-child(3) {
        width: 13%;
        text-align: left;
      }

      p:nth-child(4) {
        width: 10%;
      }

      >div {
        width: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 0;

        >p {
          text-align: center !important;
        }
      }

      p:nth-child(5) {
        width: 11%;
      }

      p:nth-child(6) {
        width: 11%;
      }

      p:nth-child(7) {
        width: 12%;
      }

      p:nth-child(8) {
        width: 12%;
        line-height: 1.57;
        color: #5c9e68;
        font-weight: bold;
      }

      >svg {
        width: 5%;
      }
    }

    &__footer {
      width: 100%;
      height: 1px;
      background-color: #ffffff;
      margin-top: -1px;
    }
  }

  &__pagination {
    margin-top: 27px;
    width: 100%;
    display: flex;
    justify-content: center;

    >ul {
      margin-bottom: 0px;
    }
  }
}

.pagination {

  li:last-child>a,
  li:first-child>a {
    border-width: 0px;

    &:focus {
      background-color: unset !important;
    }

    &:active {
      opacity: 0.8;
    }
  }

  >li {

    >a,
    >span {
      width: 30px;
      height: 30px;
      margin: 0 12px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid 0.8px rgba(92, 158, 104, 0.16);
      float: left;
      // padding: 6px 12px;
      line-height: 1.42;
      text-decoration: none;
      color: #434b56;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.24px;
      border-radius: 50%;
      user-select: none;

      &:focus {
        z-index: 2;
        color: #5c9e68;
        border-collapse: #ddd;
        background-color: rgba(92, 158, 104, 0.16);
        border-width: 0px;
      }
    }
  }
}

.active>a {
  z-index: 1;
  color: #5c9e68;
  border-collapse: #ddd;
  background-color: rgba(92, 158, 104, 0.16);
}

.tooltipProductName {
  max-width: 332px;
  padding: 28px 20px;
  border: solid 1px #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(13, 51, 32, 0.03);

  >div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >p {
      font-size: 16px;
      font-weight: bold;
      color: #434b56;
      margin-bottom: 0px;
    }

    >svg {
      cursor: pointer;

      &:active {
        opacity: 0.7;
      }
    }

    >img {
      margin-top: 13px;
      height: 71px;
      width: 32%;
      object-fit: cover;
    }
  }
}